
.home {
  max-width: 760px;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

